.grid{
    display: grid;
    grid-template-columns: repeat(20, 20px);
    cursor: pointer;
}

.cell{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button{
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    font-family: 'Jersey 10';
    border-radius: 50px;
    border-color: white;
    margin: 0 10px;
}
